CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq50xx=y
CONFIG_TARGET_qualcommax_ipq50xx_DEVICE_brax_fa532=y
CONFIG_TARGET_BOARD="ipq50xx"
CONFIG_TARGET_SUBTARGET="generic"

# Base System
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y

# Default software
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_alsa=y
CONFIG_PACKAGE_athdiag=y
CONFIG_PACKAGE_athtestcmd-lith=y
CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_bc=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_chat=y
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_conntrack=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-stat=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dashboard=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_file=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_flock=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_fwtool=y
CONFIG_PACKAGE_getrandom=y
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iperf=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-ipsec=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_iptables-mod-physdev=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iputils-tracepath=y
CONFIG_PACKAGE_isc-dhcp-relay-ipv6=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_jansson4=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_jshn=y
CONFIG_PACKAGE_jsonfilter=y
CONFIG_PACKAGE_libathtestcmd=y
CONFIG_PACKAGE_libatomic1=y
CONFIG_PACKAGE_libblkid1=y
CONFIG_PACKAGE_libblobmsg-json20230523=y
CONFIG_PACKAGE_libbpf1=y
CONFIG_PACKAGE_libbz2-1.0=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libcomerr0=y
CONFIG_PACKAGE_libcurl4=y
CONFIG_PACKAGE_libelf1=y
CONFIG_PACKAGE_libevdev=y
CONFIG_PACKAGE_libevent2-7=y
CONFIG_PACKAGE_libext2fs2=y
CONFIG_PACKAGE_libgcc1=y
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libhyficommon=y
CONFIG_PACKAGE_libi2c=y
CONFIG_PACKAGE_libieee1905=y
CONFIG_PACKAGE_libiperf3=y
CONFIG_PACKAGE_libipset13=y
CONFIG_PACKAGE_libiptext-nft0=y
CONFIG_PACKAGE_libiptext0=y
CONFIG_PACKAGE_libiptext6-0=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_libiwinfo20230701=y
CONFIG_PACKAGE_libjson-c5=y
CONFIG_PACKAGE_libjson-script20230523=y
CONFIG_PACKAGE_liblua5.1.5=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_liblucihttp0=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_liblzo2=y
CONFIG_PACKAGE_libmagic=y
CONFIG_PACKAGE_libmbedtls12=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libmnl0=y
CONFIG_PACKAGE_libnatpmp1=y
CONFIG_PACKAGE_libncurses6=y
CONFIG_PACKAGE_libnetfilter-conntrack3=y
CONFIG_PACKAGE_libnetfilter-cthelper0=y
CONFIG_PACKAGE_libnetfilter-cttimeout1=y
CONFIG_PACKAGE_libnetfilter-queue1=y
CONFIG_PACKAGE_libnfnetlink0=y
CONFIG_PACKAGE_libnftnl11=y
CONFIG_PACKAGE_libnghttp2-14=y
CONFIG_PACKAGE_libnl-cli200=y
CONFIG_PACKAGE_libnl-core200=y
CONFIG_PACKAGE_libnl-genl200=y
CONFIG_PACKAGE_libnl-nf200=y
CONFIG_PACKAGE_libnl-route200=y
CONFIG_PACKAGE_libnl-tiny1=y
CONFIG_PACKAGE_libnl200=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libopenssl3=y
CONFIG_PACKAGE_libpcap1=y
CONFIG_PACKAGE_libpci=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_libreadline8=y
CONFIG_PACKAGE_libroxml2=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libsmartcols1=y
CONFIG_PACKAGE_libss2=y
CONFIG_PACKAGE_libstdcpp6=y
CONFIG_PACKAGE_libstorage=y
CONFIG_PACKAGE_libtcmd=y
CONFIG_PACKAGE_libtlv2=y
CONFIG_PACKAGE_libtlvutil=y
CONFIG_PACKAGE_libubox20230523=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libubus20230605=y
CONFIG_PACKAGE_libuci20130104=y
CONFIG_PACKAGE_libuclient20201210=y
CONFIG_PACKAGE_libucode20230711=y
CONFIG_PACKAGE_libudev-zero=y
CONFIG_PACKAGE_libusb-1.0-0=y
CONFIG_PACKAGE_libustream-mbedtls20201210=y
CONFIG_PACKAGE_libuuid1=y
CONFIG_PACKAGE_libuv1=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libwifisoncfg=y
CONFIG_PACKAGE_libwpa2=y
CONFIG_PACKAGE_libxtables12=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_map=y
CONFIG_PACKAGE_mcproxy=y
CONFIG_PACKAGE_minidump=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_myftm=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_nftables-json=y
CONFIG_PACKAGE_nss-udp-st=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_openvpn-easy-rsa=y
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_openwrt-keyring=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_pciids=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_pm-utils=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_ppp-mod-pppol2tp=y
CONFIG_PACKAGE_ppp-mod-pptp=y
CONFIG_PACKAGE_procd=y
CONFIG_PACKAGE_procd-seccomp=y
CONFIG_PACKAGE_procd-ujail=y
CONFIG_PACKAGE_qca-acfg=y
CONFIG_PACKAGE_qca-cfg80211=y
CONFIG_PACKAGE_qca-cfg80211tool=y
CONFIG_PACKAGE_qca-diag=y
CONFIG_PACKAGE_qca-hapd-supp=y
CONFIG_PACKAGE_qca-hapd-supp-macsec=y
CONFIG_PACKAGE_qca-hostapd-cli=y
CONFIG_PACKAGE_qca-icm=y
CONFIG_PACKAGE_qca-ieee1905-init=y
CONFIG_PACKAGE_qca-iface-mgr=y
CONFIG_PACKAGE_qca-lowi=y
CONFIG_PACKAGE_qca-mad=y
CONFIG_PACKAGE_qca-nss-fw-mp-retail=y
CONFIG_PACKAGE_qca-qmi-framework=y
CONFIG_PACKAGE_qca-son-cli=y
CONFIG_PACKAGE_qca-son-mem-debug=y
CONFIG_PACKAGE_qca-spectral=y
CONFIG_PACKAGE_qca-ssdk-shell=y
CONFIG_PACKAGE_qca-thermald=y
CONFIG_PACKAGE_qca-wifi-fw-hw4-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-hk-fw-hw1-10.4-asic=y
CONFIG_PACKAGE_qca-wifi-scripts=y
CONFIG_PACKAGE_qca-wifison-ext-lib=y
CONFIG_PACKAGE_qca-wlanfw-upgrade=y
CONFIG_PACKAGE_qca-wpa-cli=y
CONFIG_PACKAGE_qca-wrapd=y
CONFIG_PACKAGE_qca-wsplcd-init=y
CONFIG_PACKAGE_qca-wsplcd-map=y
CONFIG_PACKAGE_qca-wsplcd-son=y
CONFIG_PACKAGE_qfirehose=y
CONFIG_PACKAGE_quagga=y
CONFIG_PACKAGE_quagga-libzebra=y
CONFIG_PACKAGE_quagga-ripd=y
CONFIG_PACKAGE_quagga-vtysh=y
CONFIG_PACKAGE_quagga-watchquagga=y
CONFIG_PACKAGE_quagga-zebra=y
CONFIG_PACKAGE_quectel-CM-5G-M=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_rng-tools=y
CONFIG_PACKAGE_rp-pppoe-common=y
CONFIG_PACKAGE_rp-pppoe-relay=y
CONFIG_PACKAGE_rp-pppoe-server=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_sms-tool=y
CONFIG_PACKAGE_squashfs4=y
CONFIG_PACKAGE_swconfig=y

# LuCI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-qmodem=y
CONFIG_PACKAGE_luci-app-qmodem-sms=y
CONFIG_PACKAGE_luci-app-qmodem-ttl=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-wsplc=y
CONFIG_PACKAGE_luci-wsplc-advanced=y
CONFIG_PACKAGE_luci-ssl=y

# Language packs (change to personal needs)
CONFIG_PACKAGE_luci-i18n-base-nl=y
CONFIG_PACKAGE_luci-i18n-dashboard-nl=y
CONFIG_PACKAGE_luci-i18n-ddns-nl=y
CONFIG_PACKAGE_luci-i18n-firewall-nl=y
CONFIG_PACKAGE_luci-i18n-opkg-nl=y
CONFIG_PACKAGE_luci-i18n-qmodem-nl=y
CONFIG_PACKAGE_luci-i18n-ttyd-nl=y
CONFIG_PACKAGE_luci-i18n-upnp-nl=y
CONFIG_PACKAGE_luci-i18n-zerotier-nl=y

# KMOD Modules
CONFIG_PACKAGE_kmod-asn1-decoder=y
CONFIG_PACKAGE_kmod-ata-ahci=y
CONFIG_PACKAGE_kmod-ata-core=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-bootconfig=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-bt_tty=y
CONFIG_PACKAGE_kmod-button-hotplug=y
CONFIG_PACKAGE_kmod-cfg80211-internal=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-arc4=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-deflate=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-echainiv=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-user=y
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-diag-char=y
CONFIG_PACKAGE_kmod-emesh-sp=y
CONFIG_PACKAGE_kmod-fs-configfs=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-gre=y
CONFIG_PACKAGE_kmod-gre6=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-ipsec=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-nathelper-rtsp=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-ipt-raw6=y
CONFIG_PACKAGE_kmod-ipt-sctp=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-l2tp=y
CONFIG_PACKAGE_kmod-l2tp-eth=y
CONFIG_PACKAGE_kmod-l2tp-ip=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-lib-textsearch=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-mpls=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-nat46=y
CONFIG_PACKAGE_kmod-nf-conncount=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-conntrack6=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-log=y
CONFIG_PACKAGE_kmod-nf-log6=y
CONFIG_PACKAGE_kmod-nf-nat=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nf-reject=y
CONFIG_PACKAGE_kmod-nf-reject6=y
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-nsh=y
CONFIG_PACKAGE_kmod-nss-udp-st-drv=y
CONFIG_PACKAGE_kmod-openvswitch=y
CONFIG_PACKAGE_kmod-pcie_mhi=y
CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pptp=y
CONFIG_PACKAGE_kmod-qca-cnss=y
CONFIG_PACKAGE_kmod-qca-hyfi-bridge=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-gre=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ipsecmgr-xfrm=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=y
CONFIG_PACKAGE_kmod-qca-nss-drv-match=y
CONFIG_PACKAGE_kmod-qca-nss-drv-mirror=y
CONFIG_PACKAGE_kmod-qca-nss-drv-mscs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-netlink=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr=y
CONFIG_PACKAGE_kmod-qca-nss-ecm-premium=y
CONFIG_PACKAGE_kmod-qca-nss-macsec=y
CONFIG_PACKAGE_kmod-qca-ovsmgr=y
CONFIG_PACKAGE_kmod-qca-ssdk-nohnat=y
CONFIG_PACKAGE_kmod-qca-wifi-unified-profile=y
CONFIG_PACKAGE_kmod-qca8k=y
CONFIG_PACKAGE_kmod-qmi_wwan_q=y
CONFIG_PACKAGE_kmod-qpic_panel_ertft=y
CONFIG_PACKAGE_kmod-rmnet-core=y
CONFIG_PACKAGE_kmod-rmnet-ctl=y
CONFIG_PACKAGE_kmod-rmnet-nss=y
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-sched-act-ipt=y
CONFIG_PACKAGE_kmod-sched-act-police=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-sched-connmark=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-pie=y
CONFIG_PACKAGE_kmod-sched-prio=y
CONFIG_PACKAGE_kmod-sched-red=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-slhc=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-configfs=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc3-internal=y
CONFIG_PACKAGE_kmod-usb-dwc3-qcom-internal=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-f-diag=y
CONFIG_PACKAGE_kmod-usb-gadget=y
CONFIG_PACKAGE_kmod-usb-gdiag=y
CONFIG_PACKAGE_kmod-usb-lib-composite=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-phy-ipq5018=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-uas=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_libkmod=y

# Kernel Features
CONFIG_KERNEL_IPQ_MEM_PROFILE_256MB=y

# Image Options
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=256
