CONFIG_TARGET_qualcommax_ipq50xx=y
CONFIG_TARGET_qualcommax_ipq50xx_generic=y
CONFIG_TARGET_qualcommax_ipq50xx_generic_DEVICE_brax_fa532=y
CONFIG_TARGET_BOARD="ipq50xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_qcom_ipq5018_brax-fa532"

# Base System
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_qca-cfg80211=y
CONFIG_PACKAGE_quectel-CM-5G-M=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_squashfs4=y

# LuCI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-qmodem=y
CONFIG_PACKAGE_luci-app-qmodem-sms=y
CONFIG_PACKAGE_luci-app-qmodem-ttl=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-wsplc=y
CONFIG_PACKAGE_luci-wsplc-advanced=y
CONFIG_PACKAGE_luci-ssl=y

# Language packs (change to personal needs)
CONFIG_PACKAGE_luci-i18n-base-nl=y
CONFIG_PACKAGE_luci-i18n-dashboard-nl=y
CONFIG_PACKAGE_luci-i18n-ddns-nl=y
CONFIG_PACKAGE_luci-i18n-firewall-nl=y
CONFIG_PACKAGE_luci-i18n-opkg-nl=y
CONFIG_PACKAGE_luci-i18n-qmodem-nl=y
CONFIG_PACKAGE_luci-i18n-ttyd-nl=y
CONFIG_PACKAGE_luci-i18n-upnp-nl=y
CONFIG_PACKAGE_luci-i18n-zerotier-nl=y

# Kernel Features
CONFIG_KERNEL_IPQ_MEM_PROFILE_256MB=y

# Image Options
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=256